<div class="container-fluid">
<h1><%= t('.title') %></h1>

<%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |f| %>
  <div class="field">
    <%= f.label(:status, t('views.status')) %><br>
    <%= f.select :status, options_for_select( Task.statuses.keys.map {|k|
  [t("enums.task.status.#{k}"),k]}), include_blank: true %>
  </div>

  <div class="search-form">
      <div class="field">
        <%= f.label(:title, t('views.title')) %><br>
        <%= f.text_field :title  %>
      </div>
  </div>

  <div>
    <%= f.label(:label, t('views.label')) %><br>
    <%= f.select :label, current_user.labels.map { |label| [label.name, label.id] }, {include_blank: true} %>
  </div>

  <div class="actions">
    <%= f.submit (t('views.search')), click_seach: true, id:"search_task", class: 'btn btn-primary'%>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t('views.title') %></th>
      <th><%= t('views.content') %></th>
      <th><%= t('views.created_at') %></th>
      <th><%= link_to t('views.deadline'), sort_deadline_on: true %></th>
      <th><%= link_to t('views.priority'), sort_priority: true %></th>
      <th><%= t('views.status') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at %></td>
        <td><%= task.deadline_on  %></td>
        <td><%= task.priority_i18n %></td>
        <td><%= task.status_i18n %></td>
        <td><%= link_to t('common.show'), task_path(task), class: "show-task btn btn-primary" %></td>
        <td><%= link_to t('common.edit'), edit_task_path(task), class: "edit-task btn btn-primary" %></td>
        <td><%= link_to t('common.destroy'), task_path(task), method: :delete, data: { confirm: t('common.delete_confirm') }, class: "destroy-task btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<footer>
<%= paginate @tasks %>
</footer>

</div>

