<div class="container-fluid">
<h1>ラベル一覧ページ</h1>

<table>
  <thead>
    <tr>
      <th><%= t('views.name') %></th>
      <th><%= t('views.task_count') %></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.tasks.size %></td>
        <td><%= link_to t('common.edit'), edit_label_path(label), class: "edit-label btn btn-primary" %></td>
        <td><%= link_to t('common.destroy'), label, method: :delete, data: { confirm: t('common.delete_confirm') }, class: "destroy-label btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>