<%= form_with(model: user, local: true) do |f| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "名前" %><br>
  <%= f.text_field :name %><br>

  <%= f.label "メールアドレス" %><br>
  <%= f.email_field :email %><br>

  <%= f.label "パスワード" %><br>
  <%= f.password_field :password %><br>

  <%= f.label "パスワード（確認）" %><br>
  <%= f.password_field :password_confirmation %><br>

  <%= f.label "管理者権限" %><br>
  <%= f.check_box :admin, {} , true, false %>

  <br>
  <br>
  <div class="actions">
    <%= f.submit "登録する", id: "create-user" %>
  </div>
  
<% end %>